{% extends 'core/base.html' %}

{% block content %}
<h1>{{ object.nombre }}</h1>
<p><strong>Curso:</strong> {{ object.curso.nombre }}</p>
<p><strong>Duración:</strong> {{ object.duracion }} {{ object.unidad_duracion }}</p>
<p><strong>Inicio:</strong> {{ object.inicio }}</p>
<p><strong>Instructor:</strong> {{ object.instructor.nombre }}</p>
<p><strong>Temario:</strong></p>
<p>{{ object.curso.temario }}</p>
<a href="{% url 'capacitacion_list' %}" class="btn btn-secondary">Volver</a>
{% endblock %}
