{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="container my-4">
    <h2>Lista de Usuarios</h2>
    <a href="{% url 'registro' %}" class="btn btn-info boton-agregar">
        <img src="{% static 'core/img/agregar.svg' %}" alt="">
    </a>
    <table class="table table-striped">
        <thead class="table-info">
            <tr>
                <th class="col-4">Nombre</th>
                <th class="col-2">Usuario</th>
                <th class="col-3">Correo</th>
                <th class="col-2">Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td class="align-middle">
                    <a href="{% url 'mod_usuario' user.id %}" style="text-decoration: none; font-weight: bold; font-style: italic;">
                    {{ user.first_name }} {{ user.last_name }}
                    </a>
<!--                    <a href="#" style="text-decoration: none; ">
                         # user.first_name   user.last_name 
                    </a>    
-->                    
                </td>
                <td class="align-middle">{{ user.username }}</td>
                <td class="align-middle">{{ user.email|default_if_none:"" }}</td>
                <td class="align-middle">
                    {% if user.is_active %}
                        Activo
                    {% else %}
                        Sin acceso
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}