{% extends "core/base.html" %}
{% load form_filters %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h3>QR curso {{ curso.tema.nombre }} para la empresa {{ curso.empresa.nombre }}</h3>

    <!-- Mostrar el QR -->
    <div class="col-2 ms-5">
        <img src="{{ qr_url }}" alt="QR del curso" class="img-fluid d-block mx-auto">
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_destinatario" class="form-label">Correo electrónico del destinatario</label>
            {{ form.destinatario }}
        </div>
        <div class="mb-3">
            <label for="id_asunto" class="form-label">Asunto</label>
            {{ form.asunto }}
        </div>
        <div class="mb-3">
            <label for="id_contenido" class="form-label">Contenido del Correo</label>
            {{ form.contenido }}
        </div>
        <button type="submit" class="btn btn-primary">Enviar Correo</button>
        <a href="{% url 'curso_list' %}" class="btn btn-secondary">Regresar</a>
        {% if respuesta %}
        {{ respuesta }}
        {% endif %}
    </form>
</div>
{% endblock %}