{% extends 'core/base.html' %}

{% block content %}
  <h2>{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Asistente</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-8" hidden>
      {{ form.curso.label_tag }}
      <input type="text" name="curso" id="id_curso" value="{{curso_id}}">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
  {% if instructor %}
  <a href="{% url 'instructor_asistente_list' curso_id %}" class="btn btn-secondary mt-3">Volver</a>
  {% else %}
  <a href="{% url 'asistente_list' curso_id %}" class="btn btn-secondary mt-3">Volver</a>
  {% endif %}
{% endblock %}
