{% extends 'core/base.html' %}

{% block content %}
  <h2>{% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Asistente</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="col-8" hidden>
      {{ form.capacitacion.label_tag }}
      <input type="text" name="capacitacion" id="id_capacitacion" value="{{id_capacitacion}}">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
  <a href="{% url 'asistente_list' id_capacitacion %}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}
